# Import & Install Library

In [57]:
import pandas as pd
import glob
import sqlite3
import os
import datetime
from datetime import time

In [59]:
!pip install --upgrade pandas

Requirement already up-to-date: pandas in c:\users\sambaga\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied, skipping upgrade: pytz>=2020.1 in c:\users\sambaga\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied, skipping upgrade: numpy>=1.18.5; platform_machine != "aarch64" and platform_machine != "arm64" and python_version < "3.10" in c:\users\sambaga\anaconda3\lib\site-packages (from pandas) (1.19.2)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.8.1 in c:\users\sambaga\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied, skipping upgrade: six>=1.5 in c:\users\sambaga\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.15.0)

In [2]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\sambaga\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\sambaga\anaconda3\lib\site-packages (from ipython-sql) (1.3.20)
Requirement already satisfied: six in c:\users\sambaga\anaconda3\lib\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\sambaga\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable<1 in c:\users\sambaga\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlparse in c:\users\sambaga\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: ipython>=1.0 in c:\users\sambaga\anaconda3\lib\site-packages (from ipython-sql) (7.19.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\sambaga\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (50.3.1.post20201107)
Requirement already satisfied: decorator in c:\users\sambaga\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: jedi>=0.10 in c:\users\sambaga\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.1)
Requirement already satisfied: pygments in c:\users\sambaga\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.7.2)
Requirement already satisfied: pickleshare in c:\users\sambaga\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: backcall in c:\users\sambaga\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\sambaga\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.8)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\sambaga\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: traitlets>=4.2 in c:\users\sambaga\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\sambaga\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\sambaga\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)

# Load All Dataset

In [3]:
df_0621 = pd.read_csv (r'C:\Users\SAMBAGA\Desktop\Bangkit\Google Data Analytics\Case Study\Case Study 1\Dataset\202106-divvy-tripdata.csv')
df_0721 = pd.read_csv (r'C:\Users\SAMBAGA\Desktop\Bangkit\Google Data Analytics\Case Study\Case Study 1\Dataset\202107-divvy-tripdata.csv')
df_0821 = pd.read_csv (r'C:\Users\SAMBAGA\Desktop\Bangkit\Google Data Analytics\Case Study\Case Study 1\Dataset\202108-divvy-tripdata.csv')
df_0921 = pd.read_csv (r'C:\Users\SAMBAGA\Desktop\Bangkit\Google Data Analytics\Case Study\Case Study 1\Dataset\202109-divvy-tripdata.csv')
df_1021 = pd.read_csv (r'C:\Users\SAMBAGA\Desktop\Bangkit\Google Data Analytics\Case Study\Case Study 1\Dataset\202110-divvy-tripdata.csv')
df_1121 = pd.read_csv (r'C:\Users\SAMBAGA\Desktop\Bangkit\Google Data Analytics\Case Study\Case Study 1\Dataset\202111-divvy-tripdata.csv')
df_1221 = pd.read_csv (r'C:\Users\SAMBAGA\Desktop\Bangkit\Google Data Analytics\Case Study\Case Study 1\Dataset\202112-divvy-tripdata.csv')
df_0122 = pd.read_csv (r'C:\Users\SAMBAGA\Desktop\Bangkit\Google Data Analytics\Case Study\Case Study 1\Dataset\202201-divvy-tripdata.csv')
df_0222 = pd.read_csv (r'C:\Users\SAMBAGA\Desktop\Bangkit\Google Data Analytics\Case Study\Case Study 1\Dataset\202202-divvy-tripdata.csv')
df_0322 = pd.read_csv (r'C:\Users\SAMBAGA\Desktop\Bangkit\Google Data Analytics\Case Study\Case Study 1\Dataset\202203-divvy-tripdata.csv')
df_0422 = pd.read_csv (r'C:\Users\SAMBAGA\Desktop\Bangkit\Google Data Analytics\Case Study\Case Study 1\Dataset\202204-divvy-tripdata.csv')
df_0522 = pd.read_csv (r'C:\Users\SAMBAGA\Desktop\Bangkit\Google Data Analytics\Case Study\Case Study 1\Dataset\202205-divvy-tripdata.csv')

In [4]:
df_0621.head(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,99FEC93BA843FB20,electric_bike,2021-06-13 14:31:28,2021-06-13 14:34:11,NaN,NaN,NaN,NaN,41.80,-87.59,41.80,-87.60,member
1,06048DCFC8520CAF,electric_bike,2021-06-04 11:18:02,2021-06-04 11:24:19,NaN,NaN,NaN,NaN,41.79,-87.59,41.80,-87.60,member
2,9598066F68045DF2,electric_bike,2021-06-04 09:49:35,2021-06-04 09:55:34,NaN,NaN,NaN,NaN,41.80,-87.60,41.79,-87.59,member
3,B03C0FE48C412214,electric_bike,2021-06-03 19:56:05,2021-06-03 20:21:55,NaN,NaN,NaN,NaN,41.78,-87.58,41.80,-87.60,member
4,B9EEA89F8FEE73B7,electric_bike,2021-06-04 14:05:51,2021-06-04 14:09:59,NaN,NaN,NaN,NaN,41.80,-87.59,41.79,-87.59,member

# Combine All Dataset

In [5]:
dataframes = [df_0621, df_0721, df_0821, df_0921, df_1021, df_1121, df_1221, df_0122, df_0222, df_0322, df_0422, df_0522]

In [6]:
month = 6
year = 21
for data in dataframes:
    if month < 10:
        name = f"df_0{month}{year}"
    else :
        name = f"df_{month}{year}"
        
    print(f'Number of {name} rows' + ' is : ' + str(len(data.index)))
    month += 1
    if month > 12:
        year += 1
        month = 1

Number of df_0621 rows is : 729595
Number of df_0721 rows is : 822410
Number of df_0821 rows is : 804352
Number of df_0921 rows is : 756147
Number of df_1021 rows is : 631226
Number of df_1121 rows is : 359978
Number of df_1221 rows is : 247540
Number of df_0122 rows is : 103770
Number of df_0222 rows is : 115609
Number of df_0322 rows is : 284042
Number of df_0422 rows is : 371249
Number of df_0522 rows is : 634858

In [7]:
combined_df = pd.concat(dataframes, ignore_index=True)

In [8]:
print('Number of combined dataset rows' + ' is : ' + str(len(combined_df.index)))

Number of combined dataset rows is : 5860776

In [9]:
combined_df.tail()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
5860771,8891BA0053ECEC4F,electric_bike,2022-05-27 22:00:02,2022-05-27 22:07:01,Clark St & Newport St,632,NaN,NaN,41.944557,-87.654830,41.92,-87.65,member
5860772,47D8B5FBCADECFC1,electric_bike,2022-05-15 16:05:39,2022-05-15 16:44:12,Clark St & Newport St,632,NaN,NaN,41.944479,-87.654758,41.92,-87.76,member
5860773,AA8D16CF38B40703,electric_bike,2022-05-21 10:10:13,2022-05-21 10:26:09,Francisco Ave & Bloomingdale Ave,429,NaN,NaN,41.910000,-87.700000,41.92,-87.66,casual
5860774,897EBFD44F329E0A,electric_bike,2022-05-12 07:53:58,2022-05-12 08:01:18,Francisco Ave & Bloomingdale Ave,429,NaN,NaN,41.910000,-87.700000,41.90,-87.69,member
5860775,AAC23AB89E8A7733,electric_bike,2022-05-11 21:14:28,2022-05-11 21:18:16,Clark St & Newport St,632,NaN,NaN,41.944567,-87.654802,41.94,-87.65,member

In [10]:
combined_df.isnull().sum()

ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name    823167
start_station_id      823164
end_station_name      878338
end_station_id        878338
start_lat                  0
start_lng                  0
end_lat                 5036
end_lng                 5036
member_casual              0
dtype: int64

# Clean Dataset

### Deal dataset with missing coordinate

In [11]:
combined_df = combined_df[combined_df['end_lat'].notna()]
combined_df = combined_df[combined_df['end_lng'].notna()]

In [12]:
print(len(combined_df.index))

5855740

In [18]:
combined_df = combined_df.reset_index(drop=True)

In [19]:
combined_df.tail()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
5855735,8891BA0053ECEC4F,electric_bike,2022-05-27 22:00:02,2022-05-27 22:07:01,Clark St & Newport St,632,End Station,-1,41.944557,-87.654830,41.92,-87.65,member
5855736,47D8B5FBCADECFC1,electric_bike,2022-05-15 16:05:39,2022-05-15 16:44:12,Clark St & Newport St,632,End Station,-1,41.944479,-87.654758,41.92,-87.76,member
5855737,AA8D16CF38B40703,electric_bike,2022-05-21 10:10:13,2022-05-21 10:26:09,Francisco Ave & Bloomingdale Ave,429,End Station,-1,41.910000,-87.700000,41.92,-87.66,casual
5855738,897EBFD44F329E0A,electric_bike,2022-05-12 07:53:58,2022-05-12 08:01:18,Francisco Ave & Bloomingdale Ave,429,End Station,-1,41.910000,-87.700000,41.90,-87.69,member
5855739,AAC23AB89E8A7733,electric_bike,2022-05-11 21:14:28,2022-05-11 21:18:16,Clark St & Newport St,632,End Station,-1,41.944567,-87.654802,41.94,-87.65,member

### Deal dataset with missing station name

In [14]:
combined_df['start_station_name'] = combined_df['start_station_name'].fillna('Start Station')
combined_df['start_station_id'] = combined_df['start_station_id'].fillna('-1')
combined_df['end_station_name'] = combined_df['end_station_name'].fillna('End Station')
combined_df['end_station_id'] = combined_df['end_station_id'].fillna('-1')

In [15]:
combined_df.isnull().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

# Create new columns (ride duration, distance, weekday)

### Create ride duration column

In [66]:
combined_df['started_at'] = pd.to_datetime(combined_df['started_at'], format='%d-%m-%Y %H:%M:%S')
combined_df['ended_at'] = pd.to_datetime(combined_df['ended_at'], format='%d-%m-%Y %H:%M:%S')

In [73]:
duration = (combined_df['ended_at']-combined_df['started_at']).apply(lambda x:time(x.components[1],x.components[2],x.components[3]))

In [74]:
combined_df.insert(loc=4, column='ride_duration', value=duration)

In [75]:
combined_df.head()

,ride_id,rideable_type,started_at,ended_at,ride_duration,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,99FEC93BA843FB20,electric_bike,2021-06-13 14:31:28,2021-06-13 14:34:11,00:02:43,Start Station,-1,End Station,-1,41.80,-87.59,41.80,-87.60,member
1,06048DCFC8520CAF,electric_bike,2021-06-04 11:18:02,2021-06-04 11:24:19,00:06:17,Start Station,-1,End Station,-1,41.79,-87.59,41.80,-87.60,member
2,9598066F68045DF2,electric_bike,2021-06-04 09:49:35,2021-06-04 09:55:34,00:05:59,Start Station,-1,End Station,-1,41.80,-87.60,41.79,-87.59,member
3,B03C0FE48C412214,electric_bike,2021-06-03 19:56:05,2021-06-03 20:21:55,00:25:50,Start Station,-1,End Station,-1,41.78,-87.58,41.80,-87.60,member
4,B9EEA89F8FEE73B7,electric_bike,2021-06-04 14:05:51,2021-06-04 14:09:59,00:04:08,Start Station,-1,End Station,-1,41.80,-87.59,41.79,-87.59,member